    
<footer>
    <div>
    
       <div class="contacto">
           <h5>Contacto</h5>
              <p>CUIT 30-67686350-5 <p>
              <p>Telefono: (011)5848-4047/5958-5767 <p>
              <p>Email: destinosviajes@gmail.com </p>
              <p>
                <a href="https://www.instagram.com/" class="redes-sociales">Instagram</a>
              </p>
              <p>
                <a href="https://es-es.facebook.com/" class="redes-sociales">Facebook</a>
              </p>       
        </div>

        <div class="legales">
            <p>  Terminos y condiciones</p>
            <p>Legales</p>
            <p>Copyrigth Destinos Viajes 2021</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam earum quo perferendis veritatis unde consequatur, repellat odio? Totam aliquam placeat, porro repudiandae voluptates exercitationem maiores voluptate dolore cupiditate a quia?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium dolore quae fuga voluptatem maiores itaque inventore nobis? Animi, voluptates accusantium officia dolore voluptas consectetur repudiandae doloremque, quis maiores, enim inventore.</p>
        </div>
      
    </div>
    <hr>
</footer>
